dotenv_if_exists
export VIRTUAL_ENV=.venv
layout python3
export AIDER_DARK_MODE=True
export AIDER_MAP_TOKENS=2048
export AIDER_USER_INPUT_COLOR='#999999'
export AIDER_VOICE_FORMAT=webm
export AIDER_CACHE_PROMPTS=True
export AIDER_CACHE_KEEPALIVE_PINGS=10
